body {
  margin: 0;
  padding: 0;
  background-color: #f5f8ff;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.inter-black {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.raleway-regular {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.raleway-bold {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.primary-color {
  color: #4e47ff;
}

button {
  color: white;
  font-size: 16px;
  text-align: center;
  background-color: #4e47ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  padding: 12px 36px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
